.header {
    background: white;
    /* padding: 1rem 1.5rem; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
  }
  
  .header-left {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  .logo {
    font-size: 1.25rem;
    font-weight: 700;
  }
  
  .logo-health {
    color: #08DDF0;
  }
  
  .logo-care {
    color: #111827;
  }
  
  .search-container {
    position: relative;
  }
  
  .search-icon {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    color: #9ca3af;
    width: 1rem;
    height: 1rem;
  }
  
  .search-input {
    padding-left: 2.5rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: #f9fafb;
    border: none;
    border-radius: 0.5rem;
    width: 30rem;
    font-size: 0.875rem;
    outline: none;
  }
  

  
  .header-right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .notification-btn {
    position: relative;
    padding: 0.5rem;
    color: #1522d9;
    border: none;
    transition: color 0.2s;
  }
  
  .notification-btn:hover {
    color: #374151;
  }
  
  .notification-badge {
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    width: 0.5rem;
    height: 0.5rem;
    background: #3b82f6;
    border-radius: 50%;
  }
  
  .user-avatar {
    width: 2rem;
    height: 2rem;
    background: #08DDF0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .user-initials {
    font-size: 0.875rem;
    font-weight: 500;
    background-color: 2563eb;
  }
  
  .add-btn {
    background: #2563eb;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    transition: background-color 0.2s;
    cursor: pointer;
  }
  
  .add-btn:hover {
    background: #1d4ed8;
  }
  
  @media (max-width: 768px) {
    .search-input {
      width: 100%;
    }
  }